html {
  line-height: 1.15;

  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  margin: 0.67em 0;

  font-size: 2em;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-size: 1em;
  font-family: monospace, monospace;
}

a {
  background-color: transparent;
}

abbr[title] {
          text-decoration: underline;
          text-decoration: underline dotted;

  border-bottom: none;

  -webkit-text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-size: 1em;
  font-family: monospace, monospace;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;

  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;

  font-size: 100%;
  line-height: 1.15;
  font-family: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;

  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  display: table;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  padding: 0;

  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;

  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;

  -webkit-appearance: button;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-weight: normal;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  font-style: normal;

  src: local("PT Sans"), url("../fonts/ptsans.woff"), url("../fonts/ptsans.woff2");
}

@font-face {
  font-weight: normal;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  font-style: normal;

  src: local("PT Sans"), url("../fonts/ptsansbold.woff"), url("../fonts/ptsansbold.woff2");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.content-box-component {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  position: relative;

  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  text-transform: uppercase;
  font-style: normal;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  display: block;
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.button {
  display: block;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.page-header {
  position: relative;

  width: 1200px;
  padding-right: 73px;
  padding-left: 73px;

  background-color: #ffffff;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;

  margin-left: -69px;
}

.logo {
  z-index: 2;

  width: 138px;
  height: 70px;

  background-color: transparent;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;
}

.main-nav__item {
  width: 240px;
}
.main-nav__item:nth-child(n) {
  margin: 0;
}
.main-nav__item:nth-child(1),
.main-nav__item:nth-child(2) {
  text-align: left;
}
.main-nav__item:nth-child(3),
.main-nav__item:nth-child(4) {
  text-align: right;
}
.main-nav__item:nth-child(2) {
  margin-right: auto;
}

.main-nav__item a {
  display: inline-block;
  margin-top: 17px;
  margin-bottom: 18px;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
}
.main-nav__item a:hover,
.main-nav__item a:focus {
  color: #81b3d2;
}
.main-nav__item a:active {
  opacity: 0.3;
}
.main-nav__item a:not([href]) {
  color: #766357;
}

.greeting-block {
  position: relative;

  width: 1200px;
  height: 508px;

  background-color: #406581;
  background-image: url("../img/greeting-background-image.jpg");
  background-repeat: no-repeat;
  background-position: 50% 28%;
  background-size: cover;
}
.greeting-block::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 57px;

  background-image: url("../img/greeting-image-border.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.greeting-block_image {
  position: absolute;
  top: 76px;
  left: 50%;

  display: block;
  width: 458px;
  height: 352px;
  margin-left: -229px;
}

.advantages {
  width: 1200px;
}

.advantages__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  padding-right: 350px;
  padding-bottom: 50px;
  padding-left: 350px;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -ms-flex-align: center;
  -ms-flex-pack: start;
}

.advantages__slogan {
  width: 450px;
  margin: 0;
  margin-bottom: 28px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.advantages__reasons {
  width: 500px;
  margin: 0;

  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.advantages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-shrink: 0;
  -ms-flex-direction: column;
      flex-direction: column;
      flex-wrap: wrap;
  justify-content: flex-start;
  width: 400px;
  padding-top: 47px;
  padding-right: 46px;
  padding-bottom: 38px;
  padding-left: 46px;

  text-align: center;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -ms-flex-negative: 0;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}
.advantages__item--blue {
  color: #ffffff;

  background-color: #81b3d2;
}
.advantages__item--gray {
  color: #333333;

  background-color: #eeeeee;
}

.advantages__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 70px;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.advantages__number {
  margin-bottom: 21px;
}

.advantages__description {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
}
.advantages__description--narrow {
  padding-right: 25px;
  padding-left: 25px;
}

.advantages__image {
  width: 800px;
  height: 256px;

  background-color: #b38980;
}
.advantages__image--first-place {
  -ms-flex-order: -1;
  order: -1;

  -webkit-box-ordinal-group: 0;
}

.promo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;
}

.promo__item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-shrink: 0;
  -ms-flex-direction: column;
      flex-direction: column;
      flex-wrap: wrap;
  justify-content: flex-start;
  width: 400px;
  padding-top: 161px;
  padding-right: 57px;
  padding-bottom: 75px;
  padding-left: 57px;

  text-align: center;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -ms-flex-negative: 0;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}
.promo__item::after {
  content: "";
  position: absolute;
  left: 50%;

  background-repeat: no-repeat;
  background-position: top center;
}
.promo__item--house::after {
  top: 60px;

  width: 75px;
  height: 72px;
  margin-left: -37px;

  background-image: url("../img/promo-image-1.svg");
}
.promo__item--burger::after {
  top: 61px;

  width: 74px;
  height: 70px;
  margin-left: -37px;

  background-image: url("../img/promo-image-2.svg");
}
.promo__item--present::after {
  top: 56px;

  width: 64px;
  height: 76px;
  margin-left: -33px;

  background-image: url("../img/promo-image-3.svg");
}

.promo__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.promo__description {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
}

.hotel-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  padding-top: 53px;
  padding-right: 100px;
  padding-bottom: 0;
  padding-left: 100px;

  text-align: center;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -ms-flex-align: center;
  -ms-flex-pack: start;
}

.hotel-search__question {
  width: 370px;
  margin-bottom: 27px;

  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.hotel-search__text {
  width: 445px;
  margin: 0;
  margin-bottom: 47px;
  padding: 0;

  line-height: 24px;
}

.hotel-search__link {
  width: 568px;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 21px;
  line-height: 26px;

  background-color: #766357;
}
.hotel-search__link:hover,
.hotel-search__link:focus {
  background-color: #604e43;
}
.hotel-search__link:active {
  color: #928a85;

  background-color: #503e33;
}

.map {
  position: relative;

  width: 1200px;
  height: 593px;
}

.map-image {
  width: 1200px;
  height: 593px;

  background-color: #cbdcaa;
}

.map__iframe {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  border: 0;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 1200px;
  padding-right: 73px;
  padding-left: 73px;

  -webkit-box-align: center;
  -ms-flex-align: center;
}
.page-footer--transparent {
  z-index: 3;

  margin-top: -120px;

  background-color: #ffffff;
  opacity: 0.902;
}

.page-footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 241px;
  margin-right: 88px;
  padding-top: 36px;
  padding-bottom: 36px;

  vertical-align: middle;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}
.page-footer__block:last-child {
  margin-right: 0;
}
.page-footer__block--center {
  width: 401px;
}

.hashtag {
  text-align: center;
}

.hashtag__text {
  width: 140px;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center center;
}
.social__link:hover,
.social__link:focus {
  background-color: #669ec0;
}
.social__link:active {
  color: #94b9d2;

  background-color: #5496bd;
}
.social__link--twitter {
  background-image: url("../img/socials-twitter.svg");
}
.social__link--twitter:active {
  background-image: url("../img/socials-twitter-dark.svg");
}
.social__link--facebook {
  background-image: url("../img/socials-facebook.svg");
}
.social__link--facebook:active {
  background-image: url("../img/socials-facebook-dark.svg");
}
.social__link--youtube {
  background-image: url("../img/socials-youtube.svg");
}
.social__link--youtube:active {
  background-image: url("../img/socials-youtube-dark.svg");
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 195px;

  text-align: left;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.copyright__text {
  line-height: 26px;
}

.copyright__link {
  display: block;
  width: 115px;
  height: 41px;

  background-image: url(../img/copyright-image.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.copyright__link:hover,
.copyright__link:focus {
  background-image: url(../img/copyright-image-blue.svg);
}
.copyright__link:active {
  background-image: url(../img/copyright-image-gray.svg);
}

.hotel-filter {
  width: 1200px;
  padding-top: 27px;
  padding-right: 72px;
  padding-bottom: 31px;
  padding-left: 72px;

  color: #ffffff;

  background-color: #5f5656;
  background-image: url("../img/hotel-filter.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hotel-filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
}

.hotel-filter__options {
  margin: 0;
  margin-right: 85px;
}

.hotel-filter__price-wrapper {
  margin: 0;
  margin-left: auto;
}

.hotel-filter__button {
  margin: 0 auto;
  padding: 6px 35px;

  font-weight: 400;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.hotel-filter__button:hover,
.hotel-filter__button:focus,
.hotel-filter__button:active {
  color: #333333;

  background-color: #ffffff;
}

.options {
  min-width: 170px;
  padding: 0;

  border: none;
}

.options__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.options__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.options__item {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-left: 40px;
}
.options__item:last-child {
  margin-bottom: 0;
}

.price {
  width: 318px;
  margin: 0;
  padding: 0;

  border: none;
}

.price__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price__controls {
  margin-bottom: 20px;
}

.price__range-controls {
  margin-bottom: 32px;
}

.control {
  position: relative;

  width: 318px;
  height: 36px;

  border: 2px solid #ffffff;
  border-radius: 1px;
}
.control::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;
  margin-top: -11px;
  margin-left: -1px;

  background-color: #ffffff;
}

.control__value {
  display: inline-block;
  width: 144px;
  padding-left: 64px;

  line-height: 32px;
  vertical-align: top;

  cursor: pointer;
}

.control__input {
  width: 50px;
  padding: 0;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
}

.range-controls {
  position: relative;
}

.range-controls__scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls__bar {
  width: 80%;
  height: 2px;

  background-color: white;
}

.range-controls__toggle {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 20px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-controls__toggle--min {
  left: 0;
}
.range-controls__toggle--max {
  left: 80%;
}
.range-controls__toggle:hover {
  background: #1c4f80;
}

.catalog {
  width: 1200px;
}

.catalog_sorting {
  padding-top: 30px;
  padding-right: 73px;
  padding-bottom: 30px;
  padding-left: 73px;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-right: 73px;
  padding-bottom: 30px;
  padding-left: 73px;

  border-bottom: 1px solid #e5e5e5;
}
.catalog__item:nth-child(1) {
  border-top: 1px solid #e5e5e5;
}

.checkbox_label {
  position: relative;

  display: block;

  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox_input + .checkbox_label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;

  width: 23px;
  height: 23px;

  border: 2px solid #ffffff;
  border-radius: 3px;
}

.checkbox_input:disabled ~ .checkbox_label::before {
  opacity: 0.2;
}

.checkbox_input:checked + .checkbox_label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox_input:checked:disabled + .checkbox_label::after {
  opacity: 0.2;
}

.checkbox_input:focus ~ .checkbox_label {
  outline: auto 2px Highlight;
  outline: -webkit-focus-ring-color auto 5px;
}

.by-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  min-width: 240px;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.by-category_link {
  position: relative;

  display: block;

  font: inherit;
  color: #cacaca;
}
.by-category_link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 1px;
  left: 0;

  border-bottom: 1px dotted #81b3d2;
}
.by-category_link:hover,
.by-category_link:focus {
  color: #81b3d2;
}
.by-category_link:active {
  color: inherit;
}
.by-category_link:active::after {
  border-bottom: none;
}

.by-category__item--active .by-category_link {
  color: #81b3d2;
}
.by-category__item--active .by-category_link::after {
  border-bottom: none;
}

.increase-decrease {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 35px;
  margin: 0;
  padding: 0;

  list-style: none;

  cursor: pointer;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.increase-decrease__link {
  display: block;
  width: 11px;
  height: 10px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.increase-decrease__link--increase {
  background-image: url("../img/icon-increase.svg");
}
.increase-decrease__link--increase:hover,
.increase-decrease__link--increase:focus {
  background-image: url("../img/icon-increase-hover.svg");
}
.increase-decrease__link--increase:active {
  background-image: url("../img/icon-increase-active.svg");
}

.increase-decrease__link--decrease {
  background-image: url("../img/icon-decrease.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.increase-decrease__link--decrease:hover,
.increase-decrease__link--decrease:focus {
  background-image: url("../img/icon-decrease-hover.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.increase-decrease__link--decrease:active {
  background-image: url("../img/icon-decrease-active.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.increase-decrease__item--active .increase-decrease__link--increase {
  background-image: url("../img/icon-increase-active.svg");
}

.increase-decrease__item--active .increase-decrease__link--decrease {
  background-image: url("../img/icon-decrease-active.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  font-size: 12px;
  line-height: 18px;

  -webkit-box-align: baseline;
  -webkit-box-pack: start;
  -ms-flex-align: baseline;
  -ms-flex-pack: start;
}

.sorting__search-result {
  margin-right: 48px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sorting__text {
  margin-right: 40px;
}

.sorting__increase-decrease {
  margin-left: auto;
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
}

.hotel__image {
  width: 135px;
  height: 90px;
  margin-top: auto;
  margin-right: 30px;
  margin-bottom: auto;
}

.hotel__information {
  min-width: 258px;
}

.hotel__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.hotel__link {
  font: inherit;
  color: inherit;
}
.hotel__link:hover,
.hotel__link:focus {
  color: #81b3d2;
}
.hotel__link:active {
  opacity: 0.3;
}

.hotel__table {
  display: table;
  margin-bottom: 14px;
}

.hotel__list {
  display: table-row;
}

.hotel__value,
.hotel__field {
  display: table-cell;

  cursor: pointer;
}

.hotel__value {
  width: 117px;
}

.hotel__button {
  display: inline-block;
  min-width: 70px;
  margin-right: 2px;
  padding: 3px 17px;
}
.hotel__button:last-child {
  margin-right: 0;
}
.hotel__button:hover,
.hotel__button:focus {
  background-color: #669ec0;
}
.hotel__button:active {
  color: #94b9d2;

  background-color: #5496bd;
}
.hotel__button--buy {
  background-color: #766357;
}
.hotel__button--buy:hover,
.hotel__button--buy:focus {
  background-color: #604e43;
}
.hotel__button--buy:active {
  color: #928a85;

  background-color: #503e33;
}

.hotel__rating {
  margin-top: 2px;
  margin-left: auto;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  align-items: flex-end;

  -webkit-box-align: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: end;
}

.rating__in-stars {
  width: 110px;
  height: 17px;

  background-color: transparent;
  background-repeat: no-repeat; }

  .rating__in-stars--one {
    background-image: url("../img/star.svg");
    background-position: calc(23px*4) 0; }
  .rating__in-stars--two {
    background-image:
    url("../img/star.svg"),
    url("../img/star.svg");
    background-position:
    calc(23px*4) 0,
    calc(23px*3) 0; }
  .rating__in-stars--three {
    background-image:
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg");
    background-position:
    calc(23px*4) 0,
    calc(23px*3) 0,
    calc(23px*2) 0; }
  .rating__in-stars--four {
    background-image:
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg");
    background-position:
    calc(23px*4) 0,
    calc(23px*3) 0,
    calc(23px*2) 0,
    calc(23px*1) 0; }
  .rating__in-stars--five {
    background-image:
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg"),
    url("../img/star.svg");
    background-position:
    calc(23px*4) 0,
    calc(23px*3) 0,
    calc(23px*2) 0,
    calc(23px*1) 0, 0 0; }

.rating__in-numbers {
  display: block;
  width: 110px;
  margin-top: auto;
  padding: 3px 0;

  font: inherit;
  text-align: center;
  color: inherit;

  background-color: #f2f2f2;
}

.modal {
  z-index: 100;

  display: none;

  background-color: #ffffff;
}
.modal--show {
  display: block;
}

.modal-search {
  position: absolute;
  bottom: 198px;
  left: 50%;

  width: 568px;
  margin-left: -284px;
  padding: 55px;

  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal-search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;

  -ms-flex-wrap: wrap;
}

.modal-search__fields {
  margin-bottom: 29px;
}

.modal-search__button {
  width: 100%;
  margin-top: 26px;
  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 21px;
  line-height: 26px;

  cursor: pointer;
}
.modal-search__button:hover,
.modal-search__button:focus {
  background-color: #669ec0;
}
.modal-search__button:active {
  color: #94b9d2;

  background-color: #5496bd;
}

.field {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}
.field--adults {
  width: 226px;
}
.field--children {
  width: 179px;
  margin-left: auto;
}

.field__text {
  min-width: 40px;
}

.field__input {
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;

  font: inherit;
  line-height: 26px;
  color: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 1px solid transparent;
  outline: none;
}
.field__input--date {
  width: 346px;
  padding-right: 38px;
  padding-left: 12px;
}
.field__input--numbers {
  width: 38px;
  padding-right: 5px;
  padding-left: 5px;

  text-align: center;
}
.field__input:hover {
  background-color: #ebebeb;
}
.field__input:focus {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.field__calendar {
  position: absolute;
  top: 7px;
  right: 3px;

  background-color: transparent;
  outline: none;

  fill: #cacaca;
}
.field__calendar:hover,
.field__calendar:focus {
  fill: #000000;
}
.field__calendar:active {
  fill: #81b3d2;
}

.field__input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.field__button {
  position: relative;

  width: 38px;
  height: 38px;

  background-color: #f2f2f2;
  outline: none;
  cursor: pointer;
}

.field__button--minus:hover::before,
.field__button--minus:focus::before {
  background-color: #000000;
}

.field__button--minus:active::before {
  background-color: #81b3d2;
}

.field__button--minus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.field__button--plus:hover::before,
.field__button--plus:hover::after,
.field__button--plus:focus::before,
.field__button--plus:focus::after {
  background-color: #000000;
}

.field__button--plus:active::before,
.field__button--plus:active::after {
  background-color: #81b3d2;
}

.field__button--plus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.field__button--plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 3px;
  height: 12px;

  background-color: #a9a9a9;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
